.card {
    padding: 1rem 2rem;
    border-radius: 4px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
}

.card p:last-child {
  margin: 0;
}

.card header > * {
  margin-top: 0;
  margin-bottom: 1rem;
}
