details.dropdown {
  position: relative;
  display: inline-block;
}

details.dropdown > :last-child {
  position: absolute;
  left: 0;
  white-space: nowrap;
}

.nav-right>details.dropdown>:last-child {
    right: 0;
    left: auto;
}
