.tabs {
    display: flex;
}

.tabs a {
    text-decoration: none;
}

.tabs > a {
    padding: 1rem 2rem;
    flex: 1;
    color: #555;
    border-bottom: 2px solid var(--lightGrey-color);
    text-align: center;
}

.tabs > a.active,
.tabs > a:hover {
    border-bottom: 2px solid #555;
}

.tabs > a.active {
    border-color: var(--primary-color);
}
